
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navContainer{
  width: 100%;
  padding:2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(120, 43, 197);
}

.cartWidgetContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartIcon{
  width: 2rem;
}
.cartCounter{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 100;
}

.aLink{
  color:white;
  font-weight: 500;
  text-decoration: none;
}
